<%- include('../../layouts/header') %>
<%- include('../../layouts/left_panel') %>
<%- include('../../layouts/right_panel') %>
<!--Content will start from here-->
<div class="breadcrumbs">
   <div class="col-sm-4">
      <div class="page-header float-left">
         <div class="page-title">
            <h1>Add incomes</h1>
         </div>
      </div>
   </div>
   <div class="col-sm-8">
      <div class="page-header float-right">
         <div class="page-title">
            <ol class="breadcrumb text-right">
               <li class="active">Add incomes</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<div class="content mt-3">
   <div class="animated fadeIn">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header"><strong>Monthly</strong><small> incomes</small></div>
            <div class="card-body card-block">
            <form name="form-incomes" id="form-incomes" method="post">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf_token">
               <div class="form-group"><label for="income-sources" class=" form-control-label">Income sources</label>
                  <select name="incomesources" id="income-sources" class="form-control">
                     <option value="">Please select</option>
                     <% for(i=0; i<incomeSources.length; i++){ %>
                        <option value="<%=incomeSources[i].id %>"><%=incomeSources[i].users_income_sources %></option>
                     <% } %>
                  </select>
               </div>
               
               <div class="form-group"><label for="in-year" class=" form-control-label">Year</label>
                  <select name="inyear" id="in-year" class="form-control">
                  </select>
               </div>
               
               <div class="form-group"><label for="in-month" class=" form-control-label">Month</label>
                  <select name="inmonth" id="in-month" class="form-control">
                  </select>
               </div>
               
               <div class="form-group"><label for="in-date" class=" form-control-label">Date</label><input type="text" id="in-date" name="indate" placeholder="0000-00-00" class="form-control"></div>
               
               <div class="form-group"><label for="comments" class=" form-control-label">Comments</label><input type="text" id="comments" name="comments" placeholder="Enter comments" class="form-control"></div>
               
               <div class="form-group"><label for="monthly-income" class=" form-control-label">Monthly income</label><input type="text" id="monthly-income" name="monthlyincome" placeholder="100000" value="0" maxlength="7" class="form-control"></div>
               
               <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Save</button>
            </form>
            </div>
         </div>
      </div>
   </div>
</div>
<%- include('../../layouts/footer') %>
<script src="/js/validations/incomes.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
  //YearList
  let currentYear = commonObj.currentYear();
  let yearListArray = commonObj.yearList();
  let yearList = '<option value="">PLease select</option>'
  for(let i=0; i<yearListArray.length; i++) {
    if (yearListArray[i] === currentYear) {
      yearList += '<option value='+yearListArray[i]+' selected="selected">'+yearListArray[i]+'</option>';
    } else {
      yearList += '<option value='+yearListArray[i]+'>'+yearListArray[i]+'</option>'
    }
  }
  jQuery("#in-year").append(yearList);

  //MonthList
  let currentMonth = commonObj.currentMonth();
  let monthListArray = commonObj.monthList();
  let monthList = '<option value="">PLease select</option>'
  for(let i=0; i<monthListArray.length; i++) {
    if (monthListArray[i] === currentMonth) {
      monthList += '<option value='+monthListArray[i]+' selected="selected">'+monthListArray[i]+'</option>';
    } else {
      monthList += '<option value='+monthListArray[i]+'>'+monthListArray[i]+'</option>';
    }
  }
  jQuery("#in-month").append(monthList);

  //Date
  jQuery('#in-date').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-3d'
  });
})
</script>
