<%- include('../../layouts/header') %>
<%- include('../../layouts/left_panel') %>
<%- include('../../layouts/right_panel') %>
<div class="content mt-3">
   <div class="animated fadeIn">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header"><strong>Overall</strong><small> report</small></div>
            <div class="card-body card-block">
            <form name="overall-reports" id="overall-reports" method="post">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf_token">

               <div class="row">
             	  <div class="form-group col-sm-5"><label for="oryear" class=" form-control-label">Year</label>
                  <select name="year" id="oryear" class="form-control">
                  </select>
                </div>

                <div class="form-group col-sm-5"><label for="ormonth" class=" form-control-label">Month</label>
                  <select name="month" id="ormonth" class="form-control">
                  </select>
                </div>

                <div class="form-group col-sm-2 sub-btn">
                  <label class="form-control-label"></label>
                  <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" id="orsubmit">Submit</button>
                </div>
               </div>
            </form>
            </div>
         </div>
         <div class="overall-reports-response"></div>
      </div>
   </div>
</div>
<%- include('../../layouts/footer') %>
<script src="/js/validations/reports.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
  //YearList
  let yearListArray = commonObj.yearList();
  let yearList = '<option value="">Please select</option>'
  for(let i=0; i<yearListArray.length; i++) {
      yearList += '<option value='+yearListArray[i]+'>'+yearListArray[i]+'</option>'
  }
  jQuery("#oryear").append(yearList);

  //MonthList
  let monthListArray = commonObj.monthList();
  let monthList = '<option value="">Please select</option>'
  for(let i=0; i<monthListArray.length; i++) {
      monthList += '<option value='+monthListArray[i]+'>'+monthListArray[i]+'</option>'
  }
  jQuery("#ormonth").append(monthList);
});
</script>