<div class="card">
    <div class="card-header">
        <strong class="card-title">View Report</strong>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Income Sources</th>
                    <th scope="col">Income</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
            <% for(i=0;i<reportsData.data.length; i++) { %>	
                <tr>
                    <td><%= reportsData.data[i].income_source%></td>
                    <td><%= reportsData.data[i].overall_income%></td>
                    <td><%= reportsData.data[i].overall_expense%></td>
                    <td><%= reportsData.data[i].overall_balance%></td>
                </tr>
            <% } %>
                <tr>
                    <td></td>
                    <td><%= reportsData.totalInc%></td>
                    <td><%= reportsData.totalExp%></td>
                    <td><%= reportsData.balance%></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>