<div class="card">
    <div class="card-header">
        <strong class="card-title">View Report</strong>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
            <% for(i=0;i<reportsData.data.length; i++) { %>	
                <tr>
                    <td><%= reportsData.data[i].date%></td>
                    <td><%= reportsData.data[i].type%></td>
                    <td><%= reportsData.data[i].amount%></td>
                    <td><%= reportsData.data[i].comments%></td>
                </tr>
            <% } %>
                <tr>
                    <th>Total Income</th>
                    <td><%= reportsData.totalInc%></td>
                    <th>Total Expense</th>
                    <td><%= reportsData.totalExp%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Balance</th>
                    <td><%= reportsData.balance%></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>